@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b; 
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-bg-base: #09090b;
  --color-accent-tech: #8b5cf6;

  --font-sans: var(--font-inter), system-ui, sans-serif;
  --font-mono: var(--font-fira-code), monospace;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-sans); 
  
  background-image:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.02) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.02) 1px,
      transparent 1px
    );
  background-size: 40px 40px;
}